body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */
  height: 100vh;
  background: black;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  /* add background image */
  background-image: url(./imgs/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
}

#app::before {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -2;
}

.holder {
  color: #22b2da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

.zip {
  margin-top: -5rem;
}
.zip label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: -10rem;
}
.zip input {
  font-family: "Oswald", sans-serif;
  height: 2.5rem;
  width: 20rem;
  border-radius: 8px;
  font-size: 1rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.feel {
  margin-top: -5rem;
}
.entry {
  position: absolute;
  height: 3rem;
  width: 50rem;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

#entryHolder {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  color: white;
}
#entryHolder span {
  color: #22b2da;
}
#date {
}

#temp {
}

#content {
}

.headline {
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

button {
  background-color: rgb(13, 142, 151);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
button:hover {
  background-color: white;
  color: rgb(13, 142, 151);
}

h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 3.5rem);
}

textarea {
  background: rgba(255, 255, 255, 0.705);
  color: black;
  font-size: 1.1rem;
  font-family: "Oswald", sans-serif;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgba(0, 0, 0, 0.479);
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
